*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
li{

    list-style-type: none;
}
a{

    text-decoration: none;
}
.navigation{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 10px;
}
.nav-link{
    display: flex;
    gap: 30px;
}
.home-section2 h4{
    color: aqua;
    font-size: 5px;
}
.home-section2 h5{
    color: red;
    font-size: 5px;
}
.home-section2 h6{
    color: green;
    font-size: 5px;
}
.nav-button{
    border: 1px;
    padding: 10px;
    border-radius: 30px;
    background-color: brown;
    color: white;
    cursor: pointer;

}
.home-banner-section{
    display: flex;
}
.home-about-section{
    display: flex;
    justify-content: space-around;

}
.img-link{
    text-align: center;
}
.home-about-image{
    position: relative;
}
.home-about-image{
        position: absolute;
        bottom: -460px;
        left: 0;
}
.home-about-img img{
    height: 500px;
}
.social-media-link{
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 30%;
}
.social-media-link i{
    border: 1px solid black;
    padding: 5px 100px 5px 5px;
    transform: translatex(100px);
    transition: all 0.6s ease-in-out;
}
.social-media-link i:hover{
    transform: translatex(0px);
    transition: all 0.6s ease-in-out;
}
.keyboard{
    display: grid;
    row-gap:10px ;
    color: 10px;
    grid-template-columns: repeat(21,50px);
}
.keyboard span{
border: 1px solid black;
}
.esc{
    grid-column: 1/2;
    width: 50px;
}
.f4{
    grid-column: 6/8;
    width: 50px;
}
.f8{
    grid-column: 11/13;
    width: 50px;
}
.pause-break{
    grid-column: 19/22;
    width: 50px;
}  
.tab{
    grid-column: 1/2;
    height: 50px;
}  
.pluse{
    grid-row:3/5 ;
    grid-column:21/23 ;
    height:80px ;
    align-items: center;
    width: 40px;
}
.caps-lock{
    grid-column: 2/4;
    height: 50px;
}    
